@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Lora', serif;
  font-size: 20px;
}

p {
  font-size: 0.8rem;
}

section {
  padding-bottom: 50px;
}

i {
  font-size: 1.5rem;
}

i.fa-solid,
i.fa-brands {
  font-size: 1rem;
}

svg {
  width: 1rem;
  height: 1rem;
  fill: white;
}

.projects,
.intro,
.profile-pic,
.contact,
.pic {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.pic {
  position: relative;
}

.shadow {
  -webkit-box-shadow: 2px 4px 22px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 22px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 22px -11px rgba(0, 0, 0, 0.75);
}

.profile-pic {
  display: grid;
  place-items: center;
}

.background-header::after {
  content: '';
  position: absolute;
  background-color: #4f9ae4;
  inset: 0;
  transform: skewY(-10deg);
  z-index: -1;
  top: -100px;
  bottom: 200px;
  -webkit-box-shadow: 2px 4px 22px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 22px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 22px -11px rgba(0, 0, 0, 0.75);
}

img {
  width: 100%;
}

.name.title {
  position: absolute;
  top: 0;
  text-shadow: 3px 3px #000000;
  color: white;
  font-size: 2.3rem;
}

.title {
  font-size: 1.8rem;
  font-weight: 200;
  text-align: center;
  margin: 20px;
}

.about-me.text {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.881);
  font-weight: 200;
}

.social.links {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  font-size: 1rem;
  margin: 30px 0;
  color: black;
}

.project-screenshot {
  background-color: #90c1f3;
  height: 300px;
}

.project-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex {
  display: flex;
  gap: 20px;
  align-items: center;
}

.project-description {
  margin: 1rem;
  height: 3rem;
}

.my-work-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.contact {
  margin: 0;
  color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #4f9ae4;
}

.contact-me-wrapper {
  padding: 1rem;
}

.contact-info {
  margin: 1rem;
}

@media (min-width: 500px) {

  .background-header::after {
    height: 500px
  }

  .intro {
    margin: 7rem 2rem 2rem 2rem;
  }

  .about-me-wrapper {
    background-color: white;
    -webkit-box-shadow: 2px 4px 22px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 22px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 22px -11px rgba(0, 0, 0, 0.75);
    padding: 2rem;
    margin: 1rem;
  }

  .profile-pic {
    margin-top: 5rem;
    float: left;
    width: 300px;

  }

  .name.title {
    margin-top: 4rem;
    right: 0;
    top: 40px;
  }

  .social.links.about-me {
    display: none;
  }

  .projects {
    padding-inline: 3rem;
    padding-bottom: 11rem;
  }

  .my-work.title {
    text-align: left;
    margin: 1rem 0;
  }

  .contact-me.title {
    text-align: left;
  }

  .contact {
    flex-direction: row;
    align-items: center;
  }

  .social.links {
    justify-content: flex-start;
    margin-left: 1rem;
  }

  picture.landscape {
    padding: 1rem;
  }
}

@media (min-width: 1000px) {
  .profile-pic {
    width: 400px;
  }

  .about-me.title {
    text-align: left;
  }

  .background-header::after {
    bottom: 500px;
    top: -200px;
  }

  .intro,
  .contact {
    margin-inline: auto;
  }
}